body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.7;
}

nav {
  background-color: #575757;
  float: left;
  font-size: 1em;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 3em;
  line-height: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}
p {
  margin-top: 1.5em;
}

p.author {
  font-style: italic;
  font-weight: bolder;
  line-height: 3em;
}

figcaption {
  font-size: normal;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  text-decoration: none;
}

a:link {  /* unvisited */
  color: #ffffff;
  text-decoration: none;
  }
a:visited {
  color:#ffffff;
  } /* visited */
a:hover {
  color:#d7d7d7;
  font-weight: 900;
}
  /* mouse over */
a:active {
  color:#ffffff;
  font-weight: bold;
   } /* selected */

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

article {
  padding-top: 100px;
  padding-bottom: 50px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
